{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "rules": {
    "no-unused-vars": [0],
    "react/prop-types": [0],
    "react/no-find-dom-node": [0],
    "react/destructuring-assignment": [0],
    "react/jsx-filename-extension": [0]
  }
}
